## this file contains rules to address temporary files created corext, quickbuild,
/share/
/libexec/
/var/
/.emacs.d/init.elc
/.emacs.d/elpa/
/.emacs.d/bookmarks
/.emacs.d/places
/org/html/
/bin/emacs.exe
/bin/emacs-25.1.exe
/bin/emacs-25.2.exe
/bin/emacs-25.3.exe
/bin/emacs-25.*.exe
/bin/runemacs.exe
/bin/ew.exe
/bin/addpm.exe
/bin/ctags.exe
/bin/ebrowse.exe
/bin/emacsclient.exe
/bin/emacsclientw.exe
/bin/etags.exe
/bin/libXpm-nox4.exe
.emacs.d/network-security.data
/.emacs.d/cscope.files
/.emacs.d/cscope.out
/.emacs.d/init.el~
/.emacs.d/server/server
/.emacs.d/projectile.cache
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/auto-save-list/
/.emacs.d/ido.last
/.emacs.d/ac-comphist.dat
/.emacs.d/recentf
/.emacs.d/url/
bin/asn1Coding.exe
/bin/asn1Decoding.exe
/bin/asn1Parser.exe
/bin/autopoint
/bin/bmp2tiff.exe
/bin/bunzip2.exe
/bin/bzcat.exe
/bin/bzcmp
/bin/bzdiff
/bin/bzegrep
/bin/bzfgrep
/bin/bzgrep
/bin/bzip2.exe
/bin/bzip2recover.exe
/bin/bzless
/bin/notepad2.ini
/bin/bzmore
/bin/certtool.exe
/bin/cjpeg.exe
/bin/croco-0.6-config
/bin/csslint-0.6.exe
/bin/cxpm-noX.exe
/bin/djpeg.exe
/bin/envsubst.exe
/bin/fax2ps.exe
/bin/fax2tiff.exe
/bin/fc-cache.exe
/bin/fc-cat.exe
/bin/fc-list.exe
/bin/fc-match.exe
/bin/fc-pattern.exe
/bin/fc-query.exe
/bin/fc-scan.exe
/bin/fc-validate.exe
/bin/freetype-config
/bin/gdbus-codegen
/bin/gdbus.exe
/bin/gdk-pixbuf-csource.exe
/bin/gdk-pixbuf-pixdata.exe
/bin/gdk-pixbuf-query-loaders.exe
/bin/gettext.exe
/bin/gettext.sh
/bin/gettextize
/bin/gif2tiff.exe
/bin/gio-querymodules.exe
/bin/glib-compile-resources.exe
/bin/glib-compile-schemas.exe
/bin/glib-genmarshal.exe
/bin/glib-gettextize
/bin/glib-mkenums
/bin/gnutls-cli-debug.exe
/bin/gnutls-cli.exe
/bin/gnutls-serv.exe
/bin/gobject-query.exe
/bin/gresource.exe
/bin/gsettings.exe
/bin/gspawn-win32-helper-console.exe
/bin/gspawn-win32-helper.exe
/bin/hb-ot-shape-closure.exe
/bin/hb-shape.exe
/bin/hb-view.exe
/bin/i686-w64-mingw32-agrep.exe
/bin/idn.exe
/bin/imgcmp.exe
/bin/imginfo.exe
/bin/jasper.exe
/bin/jpegtran.exe
/bin/libXpm-noX4.dll
/bin/libasprintf-0.dll
/bin/libatomic-1.dll
/bin/libbz2-1.dll
/bin/libcairo-2.dll
/bin/libcairo-gobject-2.dll
/bin/libcairo-script-interpreter-2.dll
/bin/libcharset-1.dll
/bin/libcroco-0.6-3.dll
/bin/libexpat-1.dll
/bin/libffi-6.dll
/bin/libfontconfig-1.dll
/bin/libfreetype-6.dll
/bin/libgcc_s_dw2-1.dll
/bin/libgdk_pixbuf-2.0-0.dll
/bin/libgettextlib-0-19-6.dll
/bin/libgettextpo-0.dll
/bin/libgettextsrc-0-19-6.dll
/bin/libgif-7.dll
/bin/libgio-2.0-0.dll
/bin/libglib-2.0-0.dll
/bin/libgmodule-2.0-0.dll
/bin/libgmp-10.dll
/bin/libgmpxx-4.dll
/bin/libgnutls-30.dll
/bin/libgnutlsxx-28.dll
/bin/libgobject-2.0-0.dll
/bin/libgomp-1.dll
/bin/libgomp-plugin-host_nonshm-1.dll
/bin/libgthread-2.0-0.dll
/bin/libharfbuzz-0.dll
/bin/libharfbuzz-gobject-0.dll
/bin/libharfbuzz-icu-0.dll
/bin/libhogweed-4-1.dll
/bin/libiconv-2.dll
/bin/libidn-11.def
/bin/libidn-11.dll
/bin/libintl-8.dll
/bin/libjasper-1.dll
/bin/libjpeg-8.dll
/bin/liblzma-5.dll
/bin/liblzo2-2.dll
/bin/libminizip-1.dll
/bin/libnettle-6-1.dll
/bin/libp11-kit-0.dll
/bin/libpango-1.0-0.dll
/bin/libpangocairo-1.0-0.dll
/bin/libpangoft2-1.0-0.dll
/bin/libpangowin32-1.0-0.dll
/bin/libpixman-1-0.dll
/bin/libpng-config
/bin/libpng16-16.dll
/bin/libpng16-config
/bin/libquadmath-0.dll
/bin/librsvg-2-2.dll
/bin/libssp-0.dll
/bin/libstdc++-6.dll
/bin/libsystre-0.dll
/bin/libtasn1-6.dll
/bin/libtiff-5.dll
/bin/libtiffxx-5.dll
/bin/libtre-5.dll
/bin/libturbojpeg-0.dll
/bin/libvtv-0.dll
/bin/libvtv_stubs-0.dll
/bin/libwinpthread-1.dll
/bin/libxml2-2.dll
/bin/lzmadec.exe
/bin/lzmainfo.exe
/bin/miniunzip.exe
/bin/minizip.exe
/bin/msgattrib.exe
/bin/msgcat.exe
/bin/msgcmp.exe
/bin/msgcomm.exe
/bin/msgconv.exe
/bin/msgen.exe
/bin/msgexec.exe
/bin/msgfilter.exe
/bin/msgfmt.exe
/bin/msggrep.exe
/bin/msginit.exe
/bin/msgmerge.exe
/bin/msgunfmt.exe
/bin/msguniq.exe
/bin/nettle-hash.exe
/bin/nettle-lfib-stream.exe
/bin/nettle-pbkdf2.exe
/bin/ngettext.exe
/bin/Notepad2.ini
/bin/ocsptool.exe
/bin/p11-kit.exe
/bin/p11tool.exe
/bin/pal2rgb.exe
/bin/pango-view.exe
/bin/pkcs1-conv.exe
/bin/png-fix-itxt.exe
/bin/pngfix.exe
/bin/ppm2tiff.exe
/bin/psktool.exe
/bin/ras2tiff.exe
/bin/raw2tiff.exe
/bin/rdjpgcom.exe
/bin/recode-sr-latin.exe
/bin/rgb2ycbcr.exe
/bin/rsvg-convert.exe
/bin/rsvg-view-3.exe
/bin/sexp-conv.exe
/bin/srptool.exe
/bin/thumbnail.exe
/bin/tiff2bw.exe
/bin/tiff2pdf.exe
/bin/tiff2ps.exe
/bin/tiff2rgba.exe
/bin/tiffcmp.exe
/bin/tiffcp.exe
/bin/tiffcrop.exe
/bin/tiffdither.exe
/bin/tiffdump.exe
/bin/tiffinfo.exe
/bin/tiffmedian.exe
/bin/tiffset.exe
/bin/tiffsplit.exe
/bin/tjbench.exe
/bin/tmrdemo.exe
/bin/trust.exe
/bin/unxz.exe
/bin/wrjpgcom.exe
/bin/xgettext.exe
/bin/xml2-config
/bin/xmlcatalog.exe
/bin/xmllint.exe
/bin/xmlwf.exe
/bin/xz.exe
/bin/xzcat.exe
/bin/xzcmp
/bin/xzdec.exe
/bin/xzdiff
/bin/xzegrep
/bin/xzfgrep
/bin/xzgrep
/bin/xzless
/bin/xzmore
/bin/zlib1.dll
etc/
include/
lib/

*.log
*.aux
*.gz
*.pdf
*.old
*.gz(busy)
!memcachedb-guide-1.0.pdf
!orgcard.pdf

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
/org/
bin/Notepad2.ini
bin/Reflector.cfg